#acV pred /home/quynh/working/Data/srlwe/srl.vectors.SG.50.txt
acV pred /home/quynh/PycharmProjects/ArgLM/dep3AdvHead/pred.train.em.best120.txt
#aiV pred /home/quynh/working/Data/srlwe/srl.vectors.SG.50.txt
aiV pred /home/quynh/PycharmProjects/ArgLM/dep3AdvHead/pred.train.em.best120.txt
#piN simple /home/quynh/working/Data/srlwe/srl.vectors.SG.50.txt
#piV simple /home/quynh/working/Data/srlwe/srl.vectors.SG.50.txt

#aiV pred /home/quynh/working/old/Documents/PhDFinal/workspace/SemLM/liir/nlp/semlm/advanced/verbem/verb.adv.muse.em.all.Sep25.txt
#acV pred /home/quynh/working/old/Documents/PhDFinal/workspace/SemLM/liir/nlp/semlm/advanced/verbem/verb.adv.muse.em.all.Sep25.txt